body{
  margin: 0;

}

h2{
  margin: auto;
  text-align: center;
}
img{
  margin: auto;
  
}
div{
  display: flex;
  justify-content: center,space-around;
  align-items: center;
  height: 200px;
}

@media (max-width:  ;) {
  
}